In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

import warnings
warnings.filterwarnings(action='ignore')

# 데이터 인풋

In [2]:
train = pd.read_csv("/content/drive/MyDrive/Data/구내식당_식수인원예측/train.csv")
test = pd.read_csv("/content/drive/MyDrive/Data/구내식당_식수인원예측/test.csv")

train.head(3)

           일자 요일  ...     중식계    석식계
0  2016-02-01  월  ...  1039.0  331.0
1  2016-02-02  화  ...   867.0  560.0
2  2016-02-03  수  ...  1017.0  573.0

[3 rows x 12 columns]

In [3]:
test.head(3)

           일자  ...                                           석식메뉴
0  2021-01-27  ...  흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1  2021-01-28  ...            충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2  2021-01-29  ...            흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치

[3 rows x 10 columns]

In [4]:
train.shape, test.shape

((1205, 12), (50, 10))

In [5]:
# 일자를 datetime 형식으로 변환
train.일자 = pd.to_datetime(train.일자)
test.일자 = pd.to_datetime(test.일자)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   일자              1205 non-null   datetime64[ns]
 1   요일              1205 non-null   object
 2   본사정원수           1205 non-null   int64
 3   본사휴가자수          1205 non-null   int64
 4   본사출장자수          1205 non-null   int64
 5   본사시간외근무명령서승인건수  1205 non-null   int64
 6   현본사소속재택근무자수     1205 non-null   float64
 7   조식메뉴            1205 non-null   object
 8   중식메뉴            1205 non-null   object
 9   석식메뉴            1205 non-null   object
 10  중식계             1205 non-null   float64
 11  석식계             1205 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 113.1+ KB

- 실근무인원 측정

In [7]:
train['실근무인원'] = train.본사정원수 - train.본사출장자수 - train.본사휴가자수 - train.현본사소속재택근무자수
test['실근무인원'] = test.본사정원수 - test.본사출장자수 - test.본사휴가자수 - test.현본사소속재택근무자수
train.head(3)

          일자 요일  본사정원수  ...     중식계    석식계   실근무인원
0 2016-02-01  월   2601  ...  1039.0  331.0  2401.0
1 2016-02-02  화   2601  ...   867.0  560.0  2378.0
2 2016-02-03  수   2601  ...  1017.0  573.0  2365.0

[3 rows x 13 columns]

- 요일을 숫자로 변환

In [8]:
train.요일 = train.요일.map({'월':1,'화':2, '수':3, '목':4, '금':5})
test.요일 = test.요일.map({'월':1,'화':2, '수':3, '목':4, '금':5})
train.head(3)

          일자  요일  본사정원수  ...     중식계    석식계   실근무인원
0 2016-02-01   1   2601  ...  1039.0  331.0  2401.0
1 2016-02-02   2   2601  ...   867.0  560.0  2378.0
2 2016-02-03   3   2601  ...  1017.0  573.0  2365.0

[3 rows x 13 columns]

- 년, 월, 일 분리해서 컬럼 생성

In [9]:
train['년도'] = train.일자.dt.year
train['월'] = train.일자.dt.month
train['일'] = train.일자.dt.day

train.head(3)

          일자  요일  본사정원수  본사휴가자수  본사출장자수  ...    석식계   실근무인원    년도  월  일
0 2016-02-01   1   2601      50     150  ...  331.0  2401.0  2016  2  1
1 2016-02-02   2   2601      50     173  ...  560.0  2378.0  2016  2  2
2 2016-02-03   3   2601      56     180  ...  573.0  2365.0  2016  2  3

[3 rows x 16 columns]

In [10]:
test['년도'] = test.일자.dt.year
test['월'] = test.일자.dt.month
test['일'] = test.일자.dt.day

test.head(3)

          일자  요일  본사정원수  본사휴가자수  ...   실근무인원    년도  월   일
0 2021-01-27   3   2983      88  ...  2355.0  2021  1  27
1 2021-01-28   4   2983     104  ...  2319.0  2021  1  28
2 2021-01-29   5   2983     270  ...  2170.0  2021  1  29

[3 rows x 14 columns]

In [11]:
train.isnull().sum()

일자                0
요일                0
본사정원수             0
본사휴가자수            0
본사출장자수            0
본사시간외근무명령서승인건수    0
현본사소속재택근무자수       0
조식메뉴              0
중식메뉴              0
석식메뉴              0
중식계               0
석식계               0
실근무인원             0
년도                0
월                 0
일                 0
dtype: int64

In [12]:
test.isnull().sum()

일자                0
요일                0
본사정원수             0
본사휴가자수            0
본사출장자수            0
본사시간외근무명령서승인건수    0
현본사소속재택근무자수       0
조식메뉴              0
중식메뉴              0
석식메뉴              0
실근무인원             0
년도                0
월                 0
일                 0
dtype: int64